# Descriptive statistics of COVID-19 Indonesia
find the measure of central tendency and measure of variance from [this](https://www.kaggle.com/hendratno/covid19-indonesia) dataset.

Import pandas and matplotlib.pyplot for data processing and visualization

In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

Load data in a dataframe using read_csv() and display to check if it's loaded

In [2]:
dt = pd.read_csv('c19_dataset.csv')
display(dt)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,0.07,0.12,55.56%,111.11%,NaN,NaN,NaN,NaN,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,0.02,0.15,66.67%,366.67%,0.00,0.33,NaN,NaN,NaN,NaN
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,0.02,0.17,77.78%,522.22%,1.00,1.00,NaN,NaN,NaN,NaN
3,1/11/2020,ID-JI,Jawa Timur,0,3,8,-11,9,10,55,...,0.07,0.25,111.11%,611.11%,1.00,3.00,NaN,NaN,NaN,NaN
4,1/12/2020,ID-JI,Jawa Timur,0,3,1,-4,9,13,56,...,0.07,0.32,144.44%,622.22%,1.00,1.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16278,7/9/2021,ID-SG,Sulawesi Tenggara,124,1,3,120,12447,252,10412,...,0.38,95.62,2.02%,83.65%,0.92,0.50,NaN,NaN,NaN,NaN
16279,7/9/2021,ID-SA,Sulawesi Utara,278,9,9,260,17424,572,15525,...,3.41,216.51,3.28%,89.10%,1.24,9.00,NaN,NaN,NaN,NaN
16280,7/9/2021,ID-SB,Sumatera Barat,718,10,275,433,55675,1259,48840,...,1.81,228.11,2.26%,87.72%,0.93,1.00,NaN,NaN,NaN,NaN
16281,7/9/2021,ID-SS,Sumatera Selatan,341,6,221,114,31147,1569,27088,...,0.73,190.93,5.04%,86.97%,1.15,0.38,NaN,NaN,NaN,NaN
16282,7/9/2021,ID-SU,Sumatera Utara,336,5,241,90,38040,1232,33773,...,0.34,82.82,3.24%,88.78%,1.22,0.83,NaN,NaN,NaN,NaN

Let's focus on Jawa Barat. Create new dataframe and select only 'Location ISO Code' and 'New Cases' columns. Next, select ID-JB and drop other values.

In [3]:
cln = dt[['Location ISO Code','New Cases']]
cln = cln[cln['Location ISO Code'] == 'ID-JB']
cln

      Location ISO Code  New Cases
57                ID-JB          3
62                ID-JB          1
67                ID-JB          1
72                ID-JB          1
78                ID-JB          1
...                 ...        ...
16121             ID-JB       6971
16155             ID-JB       7239
16189             ID-JB       8591
16223             ID-JB       7772
16257             ID-JB       7399

[495 rows x 2 columns]

Calculate the measures of central tendency (mean, mode, median)

In [4]:
mn = cln['New Cases'].mean()
mo = cln['New Cases'].mode()
me = cln['New Cases'].median()
print(
    'Mean   :',mn,
    '\nMode   :',mo[0],
    '\nMedian :',me
)

Mean   : 889.6545454545454
Mode   : 0
Median : 512.0

Calculate the measure of variance (range, variance, standard deviation)

In [5]:
ran = cln['New Cases'].max() - cln['New Cases'].min()
var = cln['New Cases'].var()
stdev = cln['New Cases'].std()
print(
    'Range    :',ran,
    '\nVariance :',var,
    '\nSt. Dev  :',stdev
)

Range    : 8591
Variance : 1503173.343982333
St. Dev  : 1226.0396991869118